{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}
    Bookings calendar
{% endblock %}

{% block page_content %}
<div data-controller="calendar" class="row">

    <p>Select a date to see free time slots and add your next lab booking</p>
    <div class="col-md-8">
        <div {{ vue_component('CalendarApp', { 'name': app.user.name, 'eventsSource': url('app_api_calendar_bookings') }) }}></div>

    </div>
    <div class="col-md-4" id="add_booking_container">
        {{  render(controller('App\\Controller\\Dash\\UserDashboardController::addBooking')) }}

    </div>
</div>

{% endblock %}