{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}
Dashboard
{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-md-9">
        <p class="h3 mt-5">Your next bookings</p>
        {% include 'dashboard/blocks/booking_card.html.twig' with {'bookings': bookings} only %}

        {% if previousBookings is not empty %}
            <p class="h3 mt-5">Your last bookings</p>
            {% include 'dashboard/blocks/booking_card.html.twig' with {'bookings': previousBookings} only %}
        {% endif %}
    </div>
    <div class="col-md-3">
        <p class="h3 mt-5">PV Remote Lab status</p>
    </div>
</div>
{% endblock %}